.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: #DAA400;
}

.purple {
    color: #DAA400;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width: 720px) {

    .container-nav {
        display: flex;
 
        font-size: 1vh;
    
    
    }




}